table {
  font-family: Roboto;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

tr {
  display: flex;
  justify-content: space-between;
}

tbody tr {
  flex: 0.25;
}

td,
th {
  border: 1px solid $translucent-black;
  flex: 1;
  padding: $small 0.5rem;
}

tbody td {
  margin: 0.2rem 0.1rem;
}

.username-col {
  flex: 0.5
}

.admin-col {
  flex: 0.3
}